<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Blog dla programistów</title>
</head>
<body>
<div></div>
    <h1>Witam na stronie bloga!</h1>
    <h2>Blog o programowaniu</h2>
    <h3>Autor: Mateusz</h3>
    <h4>Wszelkie prawa zastrzeżone</h4>
</div>
    {% comment %}
    <p> hdbiudabfiaubfia</p>
    {% endcomment %}
    {% for post in posts %}
<div>
    <p>opublikowany: {{ post.published_date }}</p>
    <><a href="">{{ post.title }}</a></h2>
    <em>{{ postt.text|linebreaksbr }}</em>
</div>
</div>
{% endfor %}
<div>

</body>
</html>